//c_01_coffee_menu.scss
/* c_01_coffee_menu.scss */
$primary1 : #aaa;
$primary2 : #bbb;
$primary3 : #888;
$primary4 : #1A5D54;
$white : #fff;


#wrap{
  width: 1440px; height: auto;
}

#headBox{
  width: 100%; height: 100px;
  background-color: $primary2;
}
#viewBox{
  width: 100%; height: 250px;
  background-color: $primary3;
}
#conBox{
  width: 100%; height: auto;
  padding-top:115px; padding-bottom: 127px;
}
.con_inner{
  width: 1100px; height: 1735px;
  margin: 0 auto;
}
.tap_title{
  width: 100%; height: 57px;
  margin-bottom: 38px;
  border-bottom: 1px solid $primary3;
}
.tap_btn{
  display: flex; justify-content: center;
  width: 100%; height: 100%;
  
  & > li{
    width: 124px; height: 36px;
    border-right: 1px solid $primary1;
    
    &:last-child{border: 0;}
    & > a{
      display: block;
      width: auto; height: auto;
      text-align: center; line-height: 36px;
    }
    & span{
      width: 100%; height: 100%;
      padding: 4px 20px;
    }
    & span:hover{
      background-color: $primary4;
      color:$white;
    }
  }
} //tap_btn

.menu_list_wrap{
  width: 100%; height: 1640px;
  padding: 0 30px;
}
.menu_list{
  display: flex; flex-wrap: wrap; justify-content: space-between;
  width: 100%; height: 100%;
}
.menu_list_con{
  width: 240px; height: 350px;
  margin: 30px 0;
  border:1px solid $primary1;
  padding: 10px;
  
  & div{width: 218px; height: 220px; background-color: $primary1;}
  & dl{width: 100%; height: auto;  margin-bottom: 5px;}
  & dt{width: 100%; height: auto; font-weight: 500; font-size: 22px; border-bottom: 1px solid $primary1;}
  & dd{width: 100%; height: auto; margin-top: 6px;}
  & ul{display: flex; width: 100%; height: auto;}
  & li{width: auto; height: auto; 
    font-size: 14px;
    border: 1px solid $primary1; border-radius: 4px; 
    padding: 0 6px; margin-right: 4px;
  }
} //menu_list_con

#footBox{
  width: 100%; height: 450px;
  background-color: $primary3;
}