
html, body{width: 100%; height: 100%;}
#wrap{width: 1440px; height: auto; padding-top: 100px;}

/* headBox
============================================================================== */
#headBox{
  position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; z-index: 1000;
  width: 100%; height: 100px;
  padding: 20px;
  background-color: #fff;
}
  .head_inner{
    width: 1100px; height: 60px;
    margin: auto;
  }
    h1{
      float: left;
      width: auto; height: 60px;
      font-weight: 900; font-size: 40px; line-height: 60px;
    }
    #headerNavIcon{
      float:right;
      margin-top: 10px;
      width: 100px; height: auto;
    }
      .search_btn{
        float: left;
        width: 40px; height: 40px; 
        margin-right: 20px;
        background-color: #aaa;
      }
      .gnb_btn{
        float: left;
        width: 40px; height: 40px;
        background-color: #aaa;
      }


/* viewBox
============================================================================== */
#viewBox{
  position: relative;
  width: 100%; height: 620px;
  background-color: #bbb;
}
  .view_indcator{
    position: absolute; left: 50%; top: 580px; margin-left: -250px;
    display: flex; justify-content: space-between;
    width: 500px; height: auto;
    padding: 2px;
  }
    .view_indcator_btn{
      width: 50px; height: 8px;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.7);
      cursor: pointer;
    }
    /* .view_indcator_btn:last-child{
      margin-right: 0;
    } */
    .indcator_btn_click{
      background-color: #fff;
    }


/* mdpickBox
============================================================================== */
#mdpickBox{
  width: 100%; height: auto;
  padding: 125px 0;
}
  .mdpick_inner{
    overflow: hidden;
    width: 1294px; height: 450px;
    margin-left: 147px;

  }
    /* .mdpick_inner h2{} */
    .mdpick_tab{
      width: auto; height: 30px;
      margin: 44px 0; margin-left: 20px; 
    }
      .mdp_tab_con{
        float:left;
        width: 125px; height: 30px;
        margin-right: 10px;
        border-radius: 10px; box-shadow: 0px 5px 10px #eee;
        background-color: #fff;
        cursor: pointer;
      }
      .mdp_tab_con:hover{
        background-color: #EB4C38; color:#fff;
      }
      .mdp_tab_con:last-child{
        margin-right: 0;
      }
    .mdpick_booklist_area{
      width: 100%; height: 275px;
    }
      .mdp_booklist_con{
        float:left;
        width: 200px; height: 275px;
        margin-right: 20px;
        border-radius: 10px; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        background-color: #aaa;
      }
      .mdp_booklist_con:last-chlid{
        margin-right: 0;
      }



/* newbookBox
============================================================================== */
#newbookBox{
  width: 100%; height: auto;
  padding: 125px 0;
}
  .newbook_inner{
    width: 1294px; height: auto; min-height: 450px;
    margin-left: 147px;
  }
    .newbook_title{
      width: 1140px;
      margin-bottom: 38px;
    }
      .newbook_title h2{
        float: left;
      }
      .newbook_title .moreview_btn{
        float: right;
        margin-top: 5px;
      }
    .newbook_booklist_area{
      width: 1294px; height: auto;
      margin-bottom: 30px;
    }
      .newbook_booklist_area li{
        float: left;
        width: 200px; height: auto;
        margin-right: 20px;
      }
      .newbook_booklist_area li:last-child{
        margin-right: 0px;
      }
        .nb_img{
          width: 100%; height: 265px;
          margin-bottom: 14px;
          border-radius: 10px; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
          background-color: #fff;
        }
        .nb_title{
          width: 100%; height: auto;
          font-size: 18px; color:#333; font-weight: 700;
          margin-bottom: 4px;
        }
        .nb_writer{
          width: 100%; height: auto;
          font-size: 18px; color:#757575;
        }
    .newbook_scroll{
      width: 1140px; height: 6px;
      background-color: #eee;
    }
      .newbook_scroll_bar{
        width: 25%; height:4px;
        background-color:#333;
      }

/* dokpaBox
============================================================================== */
#dokpaBox{
  position: relative;
  width: 100%; height: auto;
  padding: 240px 0;
}
  .dokpa_inner{
    width: 1250px; height: auto; min-height: 700px;
    margin: auto;
  }
    #dokpa_title{
      position: absolute; top: 250px; left: 50%; margin-left: -630px;
      float: left;
      width: 440px; height: 600px;
      margin-top: 56px; padding: 0 5px; box-sizing: border-box;
      background-color: #cca;
    }
      #dokpa_title>div{
        float:left;
        width: 140px; height: 40px;
        margin-top: 536px; margin-right: 3px;
        background-color: #fff;
      }
      /* .dokpa_tab_challenge{
      }
      .dokpa_tab_open{
      } */
      .dokpa_tab_bookex{
        margin-right: 0;
      }
    .dokpa_area{
      float: right;
      width: 780px; height: auto; min-height: 1400px;
    }
      .dokpa_con{
        float: left;
        width: 370px; height: 450px;
        margin-right: 34px; margin-bottom: 34px;
        background-color: #555;
      }
      .dokpa_con:nth-child(2n){
        margin-right: 0;
      }
      .dokpa_con:nth-last-child(-n+2){
        margin-bottom: 0;
      }
        .dokpa_con_focus{
          display: block;
          width: 370px; height: 450px;
          box-sizing: border-box;  padding: 10px; padding-top: 115px;
          background-color: rgba(0,0,0,0.7);
        }
          .sub{
            width: 100%; height: 40px;
            background-color: #fff;
          }
          .title{
            width: 100%; height: 25px;
            margin-top: 18px;
            background-color: #fff;
          }
          hr{ border-color:#fff; 
            margin-top: 10px;}
          .date{
            width: 100%; height: 20px;
            margin-top: 10px;
            background-color: #fff;
          }
          .chappenge_btn{
            width: 150px; height: 25px;
            margin: 0 auto; margin-top: 140px;
            background-color: #fff;
          }



/* awardBox
============================================================================== */
#awardBox{
  position: relative;
  width: 100%; height: auto;
  padding: 105px;
}
  .award_title{
    position:absolute; top: 0; left: 0;
    width: 100%; height: 170px;
    padding-top: 104px; box-sizing: border-box;
    background-color: #333;
  }
    /* .title_inner{} */
      .title_inner h2{
        float: left;
      }
      /* .title_tab_btn{} */
  .award_inner{
    margin-top: 80px;
  }
    /*.book_part{ }
    .lrmore_btn{} */


/* bookclubBox
============================================================================== */
#bookclubBox{
  position: relative;
  width: 100%; height: auto;
  padding-top: 355px;
}
.bookclub_inner{
  position: absolute; left:50%; top: 50%; margin-left: -400px; margin-top: -230px;
  width: 800px; height: 460px;
  box-sizing: border-box;  padding: 68px 0;
  border-radius: 10px; box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  background-color: #fff;
}
  .title{
    width: 100%; height: 43px;
    background-color: #acc;
  }
  .sub_title{
    width: 100%; height: 34px;
    margin: 15px 0 68px;
    background-color: #acc;
  }
  .content{
    width: 100%; height: auto; min-height: 165px;
    background-color: #acc;
  }
.bookclub_bg{
  width: 100%; height: 355px;
  background-color: rgba(177,177,177,0.1);
}

/* shopBox
============================================================================== */
#shopBox{
  width: 100%; height: auto;
  padding: 80px 0;
  background-color: rgba(177,177,177,0.1);
}
.shop_inner{
  width: 1140px; height: 680px;
  margin: 0 auto;
}
.shop_title{
  width: 100%; height: auto;
    margin-bottom: 80px;
  }
    .shop_title h2{
      float:left;
    }
    .shop_title .moreview_btn{
      float:right;
      margin-top: 5px;
    }
.shop_area{
  width: 100%; height: 560px;
}
  .shop_con{
    float: left;
    width: 270px; height: 270px;
    margin-right: 20px; margin-bottom: 20px;
    background-color: #aa8;
  }
  .shop_con:nth-child(4n){margin-right: 0;}
  .shop_con:nth-last-child(-n+4){margin-bottom: 0;}


/* magazineBox
============================================================================== */
#magazineBox{
  position: relative;
  width: 100%; height: auto;
  padding: 105px;
  background-color: #aaa;
}
.magazine_title{
  position: absolute;
  width: 100%; height: 170px;
  padding-top: 104px; box-sizing: border-box;
  background-color: #acc;
}
  /* .title_inner{} */
    .magazine_title h2{
      float: left;
    }
    /* .magazine_tab{} */
/* .magazine_inner{} */
/* .book_con{} */
/* .lrmore_btn{} */


/* webzineBox
============================================================================== */
#webzineBox{
  width: 100%; height: auto;
  padding: 105px;
  background-color: #bbb;
}
.webzine_inner{
  width: 1144px; height: 690px;
  margin: auto;
  background-color: #aca;
}
.webzine_inner h2{
  margin-bottom: 48px;
}
.webzine_area{
  width: auto; height: auto;
  background-color: #fff;
}
.webzine_area > div{
  float: left;
  width: 380px; height: 600px;
  background-color: #acc;
}
/* .wz_account_part{} */
.wz_title_part{
  margin: 0 2px;
}
/* .wz_con_part{} */



/* brandlistBox
============================================================================== */
#brandlistBox{
  width: 100%; height: auto;
  padding: 90px 0;
  background-color: #aaa;
}
.brandlist_inner{
  width: 1144px; height: 540px;
  padding: 90px; margin: auto;
  background-color: #aca;
}
  .brandlist_inner h2{
    margin-bottom: 460px;
  }
  .brandlist_inner > .moreview_btn{
    margin: 0 auto;
  }
.brandlist_con{
  width: 100%; height: 310px;
  background-color: #acc;
}


/* footBox
============================================================================== */
#footBox{
  width: 100%; height: auto;
  padding: 60px 0;
  background-color: #bbb;
}
  .foot_inner{
    width: 1144px; height: 130px;
    margin: auto;
    background-color: #aca;
  }
  .foot_inner>div{
    width: 100%; height: auto;
    margin-bottom: 40px;
  }
    .footer_nav{
      float: left;
      width: 730px; height: 25px;
      background-color: #aaa;
    }
    .sns_link{
      float:right;
      width: 270px; height: 30px;
      background-color: #aaa;
    }
  .address{
    width: 100%; height: 60px;
    background-color: #aaa;
  }
