@charset "UTF-8";
/* z_01_position.css */

/* reset.css */
html, body{font-family: 'Noto Sans KR', sans-serif;}
html, body,
h1,h2,h3,h4,h5,h6,
p,pre,blockquote,address,
ul,dl,li,ol,dt,dd,
hr,button,
header, article, nav, section, footer, aside, main, figure, figcaption, hgroup{
  margin: 0; padding: 0; border:0; font-size: 100%;
  box-sizing: border-box;
}
ul,ol{list-style: none;}
hr{ width: 100%; border-bottom: 1px solid #555;}
a{color:inherit; text-decoration: none;}
a:hover{text-decoration: underline;}
button{border: 0; background-color: transparent; cursor:pointer; border-radius: 0;}
em,address,i{font-style: normal;}
abbr{text-decoration: none;}
table, tr, td, th, thead, tbody, tfoot{
  border:1px solid #777; border-spacing: 0; border-collapse: collapse;
}
header, article, nav, section, footer, aside, main, figure, figcaption, hgroup{display: block;}

/* common.css */
.blind{
  display: block;
  width: 0; height: 0; overflow: hidden;}
.clearfix{width: 100%; height: auto;}
.clearfix:after, .clearfix::after{
  content:""; display: block; clear: both; width: 100%; height: 0;
}




/* ============================== */
body{
  width: 100%; height: 1500px;
  background-color: #faf;
}
#wrap{
  width: 1600px; height: auto;
  margin: auto;
  background-color: #aaa;
}
#headBox{
  position: fixed; left: 50%; z-index:100;
  width: 1600px; height: 150px;
  padding: 5px 0;  margin-left: -800px;
  background-color: #fff;
}
  #head_inner{
  width: 1200px; height: 140px;
  margin: auto;
  background-color: #fff;
  }
  #top_warp{
  width: auto; height: auto;
  margin-bottom: 5px;
  }
  h1{
    float: left;
    width: 150px; height: 70px;
    margin-right: 20px;
    background-color: #fdd;
  }
  .search_bar{
    float: left;
    width: 600px; height: 70px;
    background-color: #fdd;
  }
  #bottom_wrap{
  width: auto; height: auto;
  }
  .all_froduct{
    float: left;
    width:200px ; height: 65px;
    margin-right: 20px;
    background-color: #fdd;
  }
  .unb{
    float: right;
    width: 300px; height: 65px;
    background-color: #fdd;
  }
  .gnb{
    float: left;
    margin-right: 20px;
    width: 600px; height: 65px;
    background-color: #fdd;
  }

#viewBox{
width: 100%; height: auto;
padding-top: 150px; background-clip: content-box;
background-color: #ddd;
}
  #view_inner{
    position: relative;
  width: 1200px; height: 650px;
  margin: auto;
  background-color: #ccc;
  }
  .view_lr_button{
    position: absolute; top: 50%;
    width: 100%; height: 100px;
    margin-top: -50px;
  }
  .view_lr_button div{
    width: 100px; height: 100px;
    line-height: 100px; font-size: 25px; text-align: center;
    background-color: #dd5;
  }
  .prev{
    float: left;
  }
  .next{
    float: right;
  }
  .view_slide_button{
    position: absolute; top:590px; left: 1030px;
    width: 160px; height: 50px;
  }
  .stop_button{
    float: left;
    width: 50px; height: 50px;
    margin-right: 10px;
    font-size: 25px; text-align: center; line-height: 50px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.5);
  }
  .plus_area{
    float: left;
    width: auto; height: 50px;
    font-size: 18px; text-align: center; line-height: 50px;
    border-radius: 20px;
  }
  .number_part{
    float: left; 
    width: 80px; height: 50px;
    margin-right: 5px;
    background-color: rgba(255,255,255,0.5);
  }
  .plus_button{
    float: left;
    width: 15px; 
    background-color: rgba(255,255,255,0.5);
  }