/* 
? logo : 200*40px, 로고는 글자로 대체
? navigation 마우스 올리면 (:hover)
? 공지사항 첫번째 클릭→ 팝업창 / 닫기 → 사라짐
*/

#wrap{
  width: 1000px; height: 650px;
  margin: auto;
}

/* headBox
=========================================== */
#headBox{
  float: left; 
  width: 250px; height: 650px;
  padding: 20px 25px;
  background-color: #aea;
}
h1{
  width: 200px; height: 40px;
  background-color: #aaa;
}
h1 a{
  display: block;
  width: 100%; height: 100%;
  text-align: center; line-height:40px; font-size: 1.2rem;
}

.navigation{
  width: 100%; height: auto;
}
.navigation ul{
  width: 100%; height: auto;
}
.navigation li{
  width: 100%; height: auto;
}
.navigation dl{
  width: 100%; height: auto;
}
.navigation dt{
  width: 100%; height: 40px; background-color: #fff;
  padding-bottom: 3px;
}
.navigation dt:last-of-type{padding: 0;}
.navigation dt a{
  display: block;
  width: 100%; height: 100%; 
  text-align: center; line-height: 40px;
  background-color: #fff;
}
.navigation dt a:hover{
  background-color: #222; color: #fff;
}
.navigation dd{
  width: 100%; height: auto;
  text-indent:10px; line-height: 30px;
  background-color: #fff;
  height: 0; overflow-y:hidden; transition: height 300ms linear;
}
.navigation dd a{
  display: block; width: 100%; height: 30px;
  margin-bottom: 5px;
}
.navigation dd a:hover{
  background-color: #333; color: #fff;
}
/* .navigation dl:hover > dd{display: block;} */
.navigation dl:hover > dd {height: 100px;} 



/* viewBox
=========================================== */
  #viewBox{
  float:right;
  width: 750px; height:350px ;
  padding: 10px 50px;
  background-color: #eee;
}

.view_area{
  width: 100%; height: 100%;
  border:1px solid #333;
  background-color: #afc;
}
/* 
.view_warpper{
  width: 300%; height: 100%;
  background-color: #fca;
}
.view_content{
  float: left;
  height: 100%; width: 33.333333%

같은 자리에 모여드는 형태 사용 방법
기준-레러티브, 보여줄 요소- 앱솔루트
처음 보여줘야 하는 요소부터 z-index를 내림차순으로 입력
이외의 나머지는 보이지 않도록, 
*/

/* 가로형 슬라이드 형태를 만들 때도 여기에 레러티브를 쓰기도 함 */
.view_warpper{
  position: relative;  
  width: 100%; height: 100%;
  background-color: #fca;
}
.view_content{
  position: absolute; top: 0;left: 0;
  width: 100%; height: 100%; 
}
.view_01{ z-index: 10; background-color: #785BC6;}
.view_02{ z-index: 9; background-color: #E77E86;}
.view_03{ background-color: #CA19F6;} 



/* conBox
=========================================== */
#conBox{
  float:right;
  width: 750px; height: auto;
  background-color: #aaa;
}
/* info_content_area-------------- */
.info_content_area{
  float:left; width: 50%; height: 200px;
  padding: 10px; box-sizing: border-box;
  background-color: #C456CA;
}
.tab_tltle{
  width: 100%; height:30px; background-color: #07F7E4;
}
.tab_tltle li{
  float: left; width: 100px; height: 30px; 
}
.tab_tltle button{
  width: 100%; height: 100%; background-color: #fff;
}
.tab_tltle li.action > button{background-color: #333; color:#fff; font-weight: 700;}
.tab_tltle button:hover{ background-color: #aaa; text-decoration: underline;}
.tab_content{
  width: 100%; height:150px;
  border-top:1px solid #333;
}
.tab_content > div{
  width: 100%; height: 100%; 
  padding: 5px; box-sizing: border-box;
  background-color: #fff;}
/* 
.notice{}
.gallery{}
 */
.notice h3{width: 100%; height: auto; padding-bottom: 5px;}
.notice ul{width: 100%; height: auto; max-height: 120px;}
.notice li{
  width: 100%; height: 18px; 
  margin-bottom: 3px;
  line-height: 18px; color:#575757;
}
.notice li::before{
  content: "-"; color:#f06; margin-right: 3px;
}
/* a에 dp:b를 주지 않을 예정, line-h 는 블럭요소에 들어가야 해서 li에 줌  */
.notice a:focus{ outline: none; text-decoration: underline; text-decoration-color: #f06;}


/* sub_view_area-------------- */
.sub_view_area{
  float:left; width: 25%; height: 200px;
  background-color: #A300CC;
}


/* lacation_link_area-------------- */
.lacation_link_area{
  float:left; width: 25%; height: 200px;
  background-color: #8DB4D0;
}

/* footBox
=========================================== */
#footBox{
  float:right;
  width: 750px; height: 100px;
  background-color: #777;
}
#footBox > h2{
  float: left; width: 100px; height: 100px;
  background-color: #fa0;
}
.info_nav{
  float: left; width: 650px; height: 50px;
  background-color: #aff;
}
address{
  float:left; width: 650px; height: 50px; background-color: #aaf;
}
