/* common.css */
.blind{
  display: block;
  width: 0; height: 0; overflow: hidden;}
.clearfix{width: 100%; height: auto;}
.clearfix:after, .clearfix::after{
  content:""; display: block; clear: both; width: 100%; height: 0;
}



.title_inner{
  width: 1144px; height: 45px;
  margin: 0 auto;
  background-color: #cca;
}
h2{
  width: auto; height: 45px;
  font-size: 38px; line-height: 45px;
  background-color: #c8a;
}
.moreview_btn{
  width: 172px; height: 35px;
  background-color: #ffa;
}

/* award && magazine=================================== */
.title_inner{
  width: 1144px; height: 45px;
  margin: 0 auto;
  background-color: #cca;
}
  .title_tab_btn{
    float:right;
    width: 285px; height: 40px;
    margin-top: 2px;
    background-color: #c8a;
  }
.am_inner_area{
width: 1170px; height: 400px;
margin: auto; margin-top: 24px;
background-color: #fff;
}
.book_part{
  width: 100%; height: auto;
}
.book_con{
  float: left;
  width: 230px; height: 314px; margin-right: 5px;
  background-color: #777;
  }
  .book_con:last-child{margin-right: 0;}
    .book_con_click{width: 100%; height: auto; padding-top: 33px;}
      .title{width: 100%; height: 25px; margin-bottom: 26px; background-color: #fff;}
      .content{width: 100%; height: auto; min-height: 220px; background-color: #fff;}


  .lrmore_btn{
    width: 260px; height: 35px;
    margin: 0 auto; margin-top: 50px;
    background-color: #acc;
  }