//headBox.scss

// !default - 이 변수의 값을 기본값으로 설정할 것이다.
$headH: 50px !global;
$headH2: #{$headH * 2};

#headBox{
  position: fixed; top:0; left: 0; z-index: 1000;
  width: 100%; height: $headH; background-color: #fff;
}