@charset "UTF-8";
/* mainT.css */

/* reset.css */
html, body{
  width: 100%; height: 100%;  /* 기본으로 100% 적용되지만, #wrap 100%를 적용할 때 이 태그를 넣지 않								으면 #100이 안 될 수도 있음 */
}
header, nav, main, section, article, aside, footer, figure, figcaption{
  display: block; margin: 0; padding: 0; border:0;
}

html, body,
h1, h2, h3, h4, h5, h6,
ol,ul,li,dl,dt,dd,
div,p,pre,address{
  margin: 0; padding: 0; border:0;
  font-family: sans-serif;
  font-size: 16px;
}
ol, ul{list-style: none;} 
a{text-decoration: none; color:inherit;}
table, tr, td, th, thead, tbody, tfoot{
    border:1px solid #333;
    border-spacing:0; border-collapse:collapse;
}
em, address{font-style:nomal;}
b,strong{font-weight:nomal;}
abbr{text-decoration:none;} /* 밑줄이 무조건 들어가는 태그 */
button{border: transparent; cursor: pointer;}



/* common.css */
.clearfix::after, .clearfix:after{
  content:""; display: block; clear: both;
}
h3, .pop_con_area, .new_con_area, .recom_con_area, .mini_ad_outer, .community_area,
.foot_area {
  width: 1300px;
  margin: 0 auto;
}
h3{
  height: 50px;
  margin-bottom: 30px;
  background-color: #ccc;
}
div+p{
  width: 100%; height: 80px;
}
.blind{ overflow: hidden; width: 0; height: 0; }

/* design.css */


#wrap{
  width: 1600px; height: auto; min-width: 500px;
  margin: auto;
  border: 1px solid #333;
}


/*headBox
-------------------------------------------------*/
#headBox{
height: 150px;
box-sizing: border-box; padding: 34px 50px 0;
background-color: #888;
}
  h1{
  float: left;
  width: 250px; height: 80px;
  background-color: #fff;
  }
  .gnb{
    float: left;
    width: 850px; height: 80px;
    margin-left: 75px;
    background-color: #fff;
  }
  .gnb ul{
    width: auto; height: auto;
    padding: 5px;
  }
  .gnb li{
    float:left;
    width: 150px; height: 70px;
    margin-left: 20px;
    background-color: #faa;
  }
  .gnb li:first-child{
    margin-left:0;
  }
  .unb{
    float: right;
    width: 250px; height: 80px;
    margin-right: 50px;
    background-color: #fff;
  }





/*adviewBox
-------------------------------------------------*/
#adviewBox{
height: 750px;
background-color: #777;
}
.view_outer{
  width: 1300px; height: 600px;
  margin: 0 auto;
  background-clip: content-box;
  padding:28px 0;
  background-color: #aaa;
}
.view_indicator{
  width: 850px; height: 60px;
  margin: 0 auto; box-sizing: border-box;
  background-color: #fff;
}
.view_indicator ul{
  width: 100%; height: auto;
  padding: 10px 15px; 
}
.view_indicator li{
  float: left;
  width: 120px; height: 40px;
  background-color: #cca;
  margin-left: 20px;
}
.view_indicator li:first-child{
  margin-left: 0;
}

/*localNavBox
-------------------------------------------------*/
#localNavBox{
height: 250px;
background-color: #666;
}
.local_nav_outer{
  width: 1500px; height: 196px;
  margin: auto;
  background-clip: content-box; padding-top:18px;
  background-color: #fff;
}
.local_nav_outer ul{
  width: 100%; height: auto;
  box-sizing: border-box;
  padding: 23px 75px;
}
.local_nav_outer li{
  float:left;
  width: 200px; height: 150px;
  margin-left: 30px;
  background-color: #caa;
}
.local_nav_outer li:first-child{
  margin-left: 0;
}


/*localNavBox+p
-------------------------------------------------*/
#localNavBox+p{
width: 100px; height: 50px;
}


/* ============================================== */
/* 
popularContentBox
new_con_area
recom_con_area */
.content_box_wrap{
  width: 100%; height: auto;
}



/*popularContentBox
-------------------------------------------------*/
#popularContentBox{
height: 600px;
background-color: #777;
}
h3{
  height: 50px;
  margin-bottom: 30px;
  background-color: #ccc;
}
.pop_con_area{
  height: 470px;
  box-sizing: border-box;
  padding: 20px 63px;
  background-color: #aaa;
}
.card{
  float: left;
  width: 350px; height: 430px;
  margin-right: 62px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #daa;
}
.card:last-child{margin-right: 0;}

.card>div{
  width: 100%; height: 200px;
  box-sizing: border-box; padding: 8px;
  background-color: #aad;
}
.pop_con_img{
  margin-bottom: 14px;
}




/*newContentBox
-------------------------------------------------*/
#newContentBox{
height: 900px;
background-color: #666;
}
#newContentBox h3{
  padding-top: 60px;
  background-clip: content-box;
}
.new_con_area{
  width: 1300px; height: 700px;
  background-color: #aaa;
  margin: 0 auto;
  padding-top:30px;
  background-clip: content-box;
}
.new_con_title_area{
  float: left;
  width: 640px; height: 700px;
  background-color: #8a8;
}
.new_con_title_img{
  width: 100%; height: 350px;
  background-color: #daa;
}
.new_con_title_text{
  width: 100%; height: 350px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #e5e;
  background-clip: content-box;
}
.new_con_title_text p{
  width: 600px; height: 70px;
  background-color: #fff;
}
.new_con_title_text p:nth-child(2){
  height: 190px;
  margin-top: 30px;
}
.new_con_more_area{
  float: right;
  width: 630px; height: 400px;
  background-color: #8a8;
}
.new_con_more_area>div{
  width: 100%; height: 180px;
  background-color: #e5e;
}
.new_con_more_01{
  margin-bottom: 40px;
}
.new_con_more_area .clearfix p:first-child{
  float: left;
  width: 200px; height: 180px;
  background-color: #dda;
}
.new_con_more_area .clearfix p:nth-child(2){
  float: right;
  width: 380px; height: 136px;
  background-color: #add;
  margin-top: 44px;
}




/*recommendedContentBox
-------------------------------------------------*/
#recommendedContentBox{
height: 600px;
background-color: #777;
}
h3{
  padding-top: 30px;
  background-clip: content-box;
}
.recom_con_area{
  width: 1300px; height: 440px;
  background-color: #fff;
  margin-top: 30px;
}
.re_con_part_area{
  float: left;
  width: 300px; height: 400px;
  background-color: #ee2;
  margin-left: 33.333333px;
  margin-top: 20px;
}
.re_con_part_area:first-child{
  margin-left: 0;
}
.re_con_part_img{
  width: 300px; height: 210px;
  background-color: #4a5;
}
.re_con_part_text{
  width: 270px; height: 160px;
  background-color: #daa;
  padding: 15px; background-clip: content-box;
}





/*communityBox
-------------------------------------------------*/
#communityBox{
height: 800px;
background-color: #555;
}
#communityBox h2{
  width: 1300px;
  background-clip: content-box;
  padding-top: 50px; margin: auto;
}
.community_area{
  width: 1300px; height: 600px;
  margin:auto;
  background-color: #ddd;
}
.community_area ul{width: 100%; height: auto;}

.community_con{
  width: 100%; height: 160px;
  margin-bottom: 60px;  
  background-color: #aad;
}
.community_con:last-child{ margin-bottom: 0;}

.community_con:before, .community_con::before{
  content:"Q & A"; 
  display: block;
  width: 300px; height: 160px;
  font-size:30px; text-align: center;
  line-height:160px;
  background-color: #fff;
}
.community_con > dl{
  width: 980px;
  width:calc(100% - 320px); height:100px;
  margin-left: 320px;
  padding-top: 30px;
}
.community_con dt{
  width: 100%; height: 50px;
  margin-bottom: 20px;
  background-color: #fac;
}
.community_con dd{
  width: 100%; height: 50px;
  background-color: #fac;
}






/*miniAdBox
-------------------------------------------------*/
#miniAdBox{
height: 400px;
background-color: #666;
}
.mini_ad_outer{
  width: 1500px; height: 300px;
  background-color: #fff;
  padding-top: 40px;
  background-clip: content-box;
}
.mini_ad_outer>div{
  float: left;
  width: 350px; height: 300px;
  background-color: #ba7;
  margin-left: 25px;
}
.mini_ad_outer>div:first-child{
  width: 750px;
  margin-left: 0;
}



/*footBox
-------------------------------------------------*/
#footBox{
height: 200px;
background-color: #444;
}
.foot_area{
  width: 1300px; height: 140px;
  background-clip: content-box; padding-top: 22px;
  background-color: #111;
}
.foot_area div:first-child{
  float: left;
  width: 750px; height: 140px;
  background-color: #afa;
}
.foot_area div:nth-child(2){
  float: right;
  width: 280px; height: 76px;
  margin-top: 31px;
  background-color: #fff;
}
